# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
**/.env

# Build folders
dist/
build/

# Logs
*.log

# Zip files
*.zip

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Vite cache
.vite/

# Coverage
coverage/